.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    margin: 0;
    height: auto;
    font-family: "Archivo Black", sans-serif;
}
.navigation{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: baseline;
    height: 100vh;
    width: 20vw;
    left:-90vw;
    transition: left 0.3s;
    border: 2px solid black;
    background-color: #2A7B9B;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 100;
    color: white;
}

.nav-items{
    text-decoration: none;
    font-size: 3vh;
    transition: color 0.3s;
    margin-bottom: 10px;
}

.nav-items:hover{
    color: #8C6F57;
}

.menu-icon{
    color: white;
    font-size: 15vh;
    margin-left: 2vh;
    margin-right: 2vw;
}
.menu-button{
    z-index: 2;
    display: inline;
    cursor: pointer;
    position: fixed;
}
.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.main-page-h{
    z-index: 1;
}

.main-page{
    background-color: #2A7B9B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: white;
}
.rectangle {
  height: 60vh; 
  position: absolute;
  width: 98.5vw;
  background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  transform: skew(10deg) rotate(10deg);
  z-index: 1;
}

@media (max-width: 1000px){
    .navigation{
        width: 35vw;
    }
}
@media (max-width: 500px){
    .navigation{
        top:-90vw;
        width: 100vw;
        height: 20vh;
        flex-direction: row;

    }
    .show{
        top: 0;
    }
}