.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root {
    --bg-color: black;
    --hover-color: #ffff00;
    --font-color: white;
    --boxes-color: red;
}
body{
    margin: 0;
    height: auto;
    font-family: "Archivo Black", sans-serif;
}
.navigation{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: baseline;
    height: 100vh;
    width: 20vw;
    left:-90vw;
    transition: left 0.3s;
    border: 2px solid black;
    background-color: var(--bg-color);
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 100;
    color: white;
}
.nav-items a {
    color: white;
    text-decoration: none;
    font-size: 3vh;
    transition: color 0.3s;
    margin-bottom: 10px;
}

.nav-items a  :hover{
    color: var(--hover-color);
}

.menu-icon{
    color: var(--font-color);
    font-size: 15vh;
    margin-left: 2vh;
    margin-right: 2vw;
}
.menu-button{
    z-index: 2;
    display: inline;
    cursor: pointer;
    position: fixed;
}
.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.main-page-h{
    font-family: "Bebas Neue", sans-serif;
    z-index: 10;
    font-size: 15vh;
    color: white;
}

.main-page{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: white;
}

.cards{
    opacity:50%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 70vw;
    z-index: 2;
}
.card {
   border: 2px solid black;
   width: 20vw;
   height: 50vh;
   position: relative;
   transform-style: preserve-3d;
   transition: 2s ease;
}
.back-card,
.front-card{
   position: absolute;
   height: 100%;
   width: 100%;
   backface-visibility: hidden;
}
.back-card{
    z-index: 1;
    
}
.front-card {
   transform: rotateY(180deg);
}

.cards:hover .card {
   transform: perspective(400px) rotateY(180deg);
}


.options-wrapper{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
}

.options-h{
    margin-top: 25vh;
    z-index: 1;
}
.options-items{
    display: inherit;
    justify-self: center;
    flex-direction: row;
    margin-top: 15vh;
    gap: 20px;
    
}
.options-item{
    height: 20vh;
    width: 20vw;    
    border-radius: 10px;
    background-color: var(--boxes-color);
    text-align: center;
    z-index: 2;
    transition: 0.5s;
}
.options-item:hover{
    background-color: var(--hover-color);
    transform: scale(1.1,1.1);
}
.options-p{
    font-size:smaller;
}
.options-h3
{
    font-size:larger;
}



@media (max-width: 1000px){
    .navigation{
        width: 35vw;
    }
    .menu-icon{
        font-size: 12vh;
    }
}
@media (max-width: 500px){
    .menu-icon{
        font-size: 8vh;
    }
    .navigation{
        top:-90vw;
        width: 100vw;
        height: 20vh;
        flex-direction: row;

    }
    .show{
        top: 0;
    }
    .options-items{
        flex-direction: column;
    }
    .options-item{
        height: 10vh;
        width: 70vw;  
    }
}

